
.container {
	width: 1500px;
	margin: auto;
}

.sides {
	height: 198px;
	width: 706px;
	background-color: blue;
	margin: auto;
	border-radius: 14px;
	margin-bottom: 40px;
	margin-top: 50px;
	
	
}

.pasta {
	height: 552px;
	width: 25%;
	background-color: purple;
	float: left;
	border-radius: 14px;
	margin: 20px;
}


.pizza {
	height: 921px;
	width: 35%;
	background-color: pink;
	border-radius: 14px;
	margin: auto;
	
}

.desserts {
	height: 552px;
	width: 25%;
	background-color: lightgreen;
	float: right;
	border-radius: 14px;

}

.pizza h2 {
	color: darkslategrey;
	font-size: 60px;
	font-style: italic;
	text-align: left;
	margin: 20px;
	
}

.sides h2 {
	color: white;
	font-size: 30px;
	font-style: italic;
	text-align: left;
	margin: 20px;
	
}

.pasta h3 {
	color: lightgrey;
	font-size: 30px;
	font-style: italic;
	text-align: left;
	margin: 20px;

}

.desserts h3 {
	color: brown;
	font-size: 30px;
	font-style: italic;
	text-align: left;
	margin: 20px;
	
}